{% extends "master_layout.html" %}
{% load static %}

{% block title %}{{ form.instance.pk|yesno:"Edit Job,Add Job" }}{% endblock %}

{% block layout %}
<div class="container mt-5">
    <h2>{{ form.instance.pk|yesno:"Edit Job,Add Job" }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'job_admin_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock layout %}
