<footer>
        <div class="up-section container">
            <ul>
                <h1>Company</h1>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Support</a></li>
            </ul>

            <ul>
                <h1>About</h1>
                <li><a href="#">Company</a></li>
                <li><a href="#">Location</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Our Services</a></li>
            </ul>

            <ul>
                <h1>Contact us</h1>
                <li><p>+1 123 456 7890</p></li>
                <li><p>House #215, Street 5</p></li>
                <li><p>Washignton, DC</p></li>
            </ul>
               <ul>
                <h1>Explore</h1>
                <li><a href="#">Collections</a></li>
                <li><a href="#">Item Detail</a></li>
                <li><a href="#">Collectibles</a></li>
                <li><a href="#">Community</a></li>
            </ul>

            <ul>
                <h1>Support</h1>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Blog</a></li>
            </ul>

            <div class="social">
                <h1>Social</h1>

                <div class="social-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <div class="search">
                <h1>Email</h1>

                <input type="email" placeholder="Enter your email">
            </div>
        </div>

        <p class="copyright mb-0 text-center pb-2">Copyright 2024</p>
    </footer>