{% extends "blank_layout.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'STYLES/login.css' %}">
{% endblock head %}

{% block title %}Institution Login{% endblock title %}
{% block meta_description %}Login to your institution account.{% endblock meta_description %}
{% block meta_keywords %}institution login{% endblock meta_keywords %}

{% block layout %}
<div class="login-page">
    <div class="login-card">
        <!-- LOGO -->
        <div class="logo_container">
            <img src="{% static 'app/images/logo.png' %}" alt="Logo" style="height: 130px;" class="m-0">
        </div>

        <!-- NAV OPTIONS -->
        <div class="login-options">
            <a href="{% url 'login' %}" class="login active">Login</a>
            <a href="{% url 'institution_register' %}" class="register">Signup</a>
        </div>

        <!-- INSTITUTION LOGIN FORM -->
        <form class="login-form" method="post" action="{% url 'institution_login' %}">
            {% csrf_token %}
            
            <input type="email" name="email" placeholder="Institution Email" required>
            <input type="password" name="password" placeholder="Password" required>

            <!-- LOGIN BUTTON -->
            <button type="submit" class="login-btn">Login</button>
        </form>

        <!-- FOOTER -->
        <div class="login-footer">
            <p>Don't have an account?</p>
            <a href="{% url 'institution_register' %}" class="mx-1">Register now</a>
        </div>
    </div>
</div>
{% endblock layout %}
